<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Express Server</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

<div class="inviteContainer">	
	<div class="linkContainer">
		<p>Going</p>
		<p>Not Going</p>
	</div>

	<div class="userImg">
		<img src="http://placehold.it/100/100" />
	</div>

	<div class="userInfo">
		<h3>Name:</h3><p>dummy data</p>
		<h3>Phone:</h3><p>dummy data</p>
		<h3>Email:</h3><p>dummy data</p>
	</div>

	<div class="buttonStuff">
		<button class="not" type="submit">Not Going</button>
		<button class="isGoing" type="submit">Going</button>
	</div>
<div>

</body>
</html>