<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Express Server</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

<div class="Container">

	<div class="inviteContainer">	
		<div class="linkContainer">
			<a href="/going"><p>Going: {{going}}</p></a>
			<a href="/notgoing"><p>Not Going: {{notgoing}}</p></a>
		</div>

	<div class="userImg">
		<img src={{picture}} />
	</div>

	<div class="userInfo">
		<h3>Name:</h3><p>{{name}}</p> 
		<h3>Phone:</h3><p>{{cell}}</p>
		<h3>Email:</h3><p>{{email}}</p>
	</div>

	</div>

		<div class="formContainer">
			<form action="/going" method="post">
				<input type="hidden" name="picture" value={{picture}} />
				<input type="hidden" name="name" value={{name}} />
				<input type="hidden" name="phone" value={{cell}} />
				<input type="hidden" name="email" value={{email}} />


		<div class="buttonStuff">
			<button class="isGoing" type="submit">Going</button>
		</div>
		</form>
		<form action="/notgoing" method="post">
			<input type="hidden" name="picture" value={{picture}} />
			<input type="hidden" name="name" value={{name}} />
			<input type="hidden" name="phone" value={{cell}} />
			<input type="hidden" name="email" value={{email}} />

		<div class="badButton">
			<button class="not" type="submit">Not Going</button>
		</div>
		</form>
		</div>

</div>

</body>
</html>