<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Express Server</title>
	<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

<div class="inviteContainer">	
	<div class="linkContainer">
		<a href="/going"><p>Going: {{countGoing}}</p></a>
		<a href="/notgoing"><p>Not Going: {{countDeclined}}</p></a>
	</div>
	{{>profile}}
	<form action="/going" method="post">
	<div class="userImg">
		<input type="hidden" name="picture" value={{picture}} />
	</div>

	<div class="userInfo">
		<h3>Name:</h3><input type="hidden" name="name" value={{name}} />
		<h3>Phone:</h3><input type="hidden" name="phone" value={{cell}} />
		<h3>Email:</h3><input type="hidden" name="email" value={{email}} />
	</div>

	<div class="buttonStuff">
		<button class="isGoing" type="submit">Going</button>
	</div>
	</form>
	<form action="/notgoing" method="post">
	<div class="userImg">
		<input type="hidden" name="picture" value={{picture}} />
	</div>

	<div class="userInfo">
		<h3>Name:</h3><input type="hidden" name="name" value={{name}} />
		<h3>Phone:</h3><input type="hidden" name="phone" value={{cell}} />
		<h3>Email:</h3><input type="hidden" name="email" value={{email}} />
	</div>

	<div class="badButton">
		<button class="not" type="submit">Not Going</button>
	</div>
<div>

</body>
</html>