<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Express Server</title>
	<link rel="stylesheet" href="/styles/notgoing.css" />
</head>
<body>

<a href="/">Back</a>
<div class="inviteContainer">	
	{{#notgoing}}
	<div class="userImg">
		<img src={{picture}} />
	</div>

	<div class="userInfo">
		<h3>Name:</h3><p>{{name}}</p>
		<h3>Phone:</h3><p>{{cell}}</p>
		<h3>Email:</h3><p>{{email}}</p>
	</div>
	{{/notgoing}}
<div>

</body>
</html>